#featurehr{
    color: white;
    height: 2px;
    width: 90px;
    background-color:  #fed250;
    }
    #imagefeature {
        display: flex;
        width: 100%;
        height: 40px;
        gap: 80px;
        justify-content: center;
    }