#footer{
    background-color: rgb(49, 48, 48);
}

#footerfirst-part{
    width: 80%;
    margin: auto;
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(3,1fr);
}

#footerfirst-part>div>p{
    color: aliceblue;
}
#footerfirst-part>div>hr{
    width: 60px;
    height: 2px;
    background-color: hsl(66, 97%, 53%);
    margin-top: -20px;
    margin-left: -2px;
    margin-bottom: 40px;
}
#footerfirst-part>div>h3{
    color: rgb(205, 211, 216);
}

#footer-logo{
display: flex;
}
#footer-logo>img{
    width: 30px;
    height: 30px;
    margin: 0px 14px;
}
.footer-bold{
    font-weight: bold;
    font-size : 22px;
    color: aliceblue;
    cursor: pointer;;
}
#footersecond-part{
  
    background-color: rgb(69, 68, 67);
}

#secondpart-one{
    width: 85%;
    margin: auto;
    
}
#secondpart-one>h1{
    
    color: rgb(249, 240, 240);
    padding-top: 50px;

}
#secondpart-one>p{
    color:rgb(223, 217, 217);
    font-size: 20px;
}
#secondpart-second{
    width: 85%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
}
#secondpart-second>div>h1{
    text-align: center;
    color: rgb(249, 240, 240);
}
#secondpart-second>div>hr{
    color: white;
    height: 2px;
    width: 90px;
    margin-top: -18px;
    background-color: hsl(66, 97%, 53%);;
    
}
#secondpart-second>div>p{
    color:rgb(223, 217, 217);
    font-size: 20px;
    padding-bottom: 25px;
}

#secondpart-h3{
    color: aliceblue;
    text-align: center;
    margin-top: -25px;
    padding-bottom: 20px;
}