body{
    font-family: "Muli", sans-serif;
}

#subscription-container {
    margin-top: 3px;
    width: 90%;
    background-image: url("https://d36g7qg6pk2cm7.cloudfront.net/assets/long_term/RBX_landing_web-8b84ff099c1cd0851362d28adccdcc8ca829a0fc36a2e3c5c01e1ce4764f0a7a.jpg");
    background-size: 100%;
    height: 500px;
    padding-top: 14%;
    padding-left: 10%;
}

#subscription-container #inside-container{
    background: white;
    width: 23%;
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
}

#subscription-container #inside-container input{
    margin-bottom: 20px;
    margin-top: 5px;
    width: 40%;
    padding: 10px;
    cursor: pointer;
    border: none;
    border: 1px solid #9999;
    border-radius: 5px;
}

#subscription-container #inside-container label{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

#subscription-container #inside-container #button{
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #fed250;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#howit-works{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
#howit-works>h2{
    text-align: center;
}
#howit-works>hr{
background-color: #fed250;
height: 2px;
width: 100px;
margin-top: -15px;
}
#howit-works-inside img{
    width: 90px;
    height: 50px;
}

#howit-works-inside{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    margin-top: 100px;
    grid-gap: 80px;
    
}
#whyrent{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
    margin-top: 20px;
}
#whyrent>div>img{
    width: 100%;
}
#whyrent>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}