@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    font-family: "Muli", sans-serif;
    margin: 0px;
}

#navbarContainer {
    display: flex;
    width: 100%;
    /* padding: 10px; */
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: auto;
    color: #333;
    margin-top: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    background-color: white;
}

#navLogoDiv {
    cursor: pointer;
    margin-left: 20px;
}

#navOptions {
    display: flex;
    width: 49%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

#navOptions div {
    padding: 20px;
}

#navOptions div:hover {
    cursor: pointer;
    background-color: #fed250;
}

#navLoginSignup {
    display: flex;
    /* border: 1px solid red; */
    width: 40%;
    justify-content: space-between;
    padding: 13px;
    align-items: center;
}

#navRight {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 25%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#navLoginSignup #signup {
    background-color: #fed250;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#navLoginSignup #login {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#navLoginSignup #login:hover {
    background-color: #9999;
}

#navLocation {
    width: auto;
    /* border: 1px solid red; */
    text-align: center;
    border: 1px solid #fed250;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 40px;
    padding-right: 15px;
}

#navLocation:hover {
    background-color: #fed250;
}

#navLocation button {
    background-color: transparent;
    border: none;
    font-size: 15px;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(70, 70, 70, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: rgb(241, 241, 241);
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    height: 500px;
    overflow-y: scroll;
    /* overflow-y: hidden; */

}

::-webkit-scrollbar {
    width: 0px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modelTop {
    display: flex;
    align-items: center;
    width: 30%;
    margin: auto;
    justify-content: space-between;
}

#modelTop img {
    width: 90px;
}

#modelSearch {
    display: flex;
    border-radius: 8px;
    width: 100%;
    background-color: white;
    padding: 6px;
    align-items: center;
    padding-left: 10px;
}

#modelSearch img {
    width: 24px;
    margin-left: 20px;
}

#modelSearch input {
    border: none;
    font-size: 17px;
    padding: 10px;
    border: 1px solid white;
}

#modelSearch input:focus {
    outline: none !important;
}

#modelCity {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 20px;
}

#modelCity img {
    width: 100%;
    border-radius: 15px;
}

#cityDiv img:hover{
    transform: scale(1.09);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}



#authBox{
    width: 390px;
    border: 1px solid #f5f5ef;
    margin: auto;
    background: fixed;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
#authBox{
  box-sizing: border-box;
}

#invalidPass{
  position: fixed; 
  margin-top: -450px;
  margin-left: 70%; 
  background-color: red;
  padding: 10px;
  color: white;
  height: 40px;
  padding-top: 0px;
  border-radius: 5px;
  display: none;
}

.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  /* border-radius: 5px; */
  
  height: auto;
  padding-top: 10px;
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  /* border: 1px solid lightgrey; */
  border-radius: 5px;
}
.slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: white;
  color: #000;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: black;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 94%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #fed250;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 15px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #fed250;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: #fed250;
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: black;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}


/* 
footer part start */

#footer{
    background-color: rgb(49, 48, 48);
    font-family: "Muli", sans-serif;
    margin-top: 30px;
}

#footerfirst-part{
    width: 70%;
    margin: auto;
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(3,1fr);
    padding-left: 60px;
    padding-right: 80px;
    justify-content: space-between;
    padding-right: -80px;
    column-gap: 230px;
}

#footerfirst-part>div>p{
    color: aliceblue;
}
#footerfirst-part>div>hr{
    width: 60px;
    height: 2px;
    background-color: #fed250;
    margin-top: -20px;
    margin-left: -2px;
    margin-bottom: 40px;
}
#footerfirst-part>div>h3{
    color: rgb(205, 211, 216);
}

#footer-logo{
display: flex;
}
#footer-logo>img{
    width: 30px;
    height: 30px;
    margin: 0px 14px;
}
.footer-bold{
    font-weight: bold;
    font-size : 22px;
    color: aliceblue;
    cursor: pointer;;
}
#footersecond-part{
  
    background-color: rgb(69, 68, 67);
}

#secondpart-one{
    width: 85%;
    margin: auto;
    
}
#secondpart-one>h1{
    
    color: rgb(249, 240, 240);
    padding-top: 50px;

}
#secondpart-one>p{
    color:rgb(223, 217, 217);
    font-size: 20px;
}
#secondpart-second{
    width: 85%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: justify;
}
#secondpart-second>div>h1{
    text-align: center;
    color: rgb(249, 240, 240);
}
#secondpart-second>div>hr{
    color: white;
    height: 2px;
    width: 90px;
    margin-top: -18px;
    background-color: #fed250
    
}
#secondpart-second>div>p{
    color:rgb(223, 217, 217);
    font-size: 20px;
    padding-bottom: 25px;
}

#secondpart-h3{
    color: aliceblue;
    text-align: center;
    margin-top: -25px;
    padding-bottom: 20px;
    font-size: 18px;
}

#footersecond-part #secondpart-second p{
    font-size: 15px;
}

#footersecond-part #secondpart-second .footer-bold{
    font-size: 15px;
}

#footersecond-part #secondpart-one p{
    font-size: 15px;
    text-align: justify;
}

#footersecond-part #secondpart-one h1{
    font-size: 20px;
}

#secondpart-second #ourPresence{
    font-size: 22px;
    padding-top: 40px;
}
