body {
    font-family: "Muli", sans-serif;
    margin: 0px;
}

#navbarContainer {
    display: flex;
    width: 100%;
    /* padding: 10px; */
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: auto;
    color: #333;
    margin-top: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    background-color: white;
}

#navLogoDiv {
    cursor: pointer;
    margin-left: 20px;
}

#navOptions {
    display: flex;
    width: 49%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

#navOptions div {
    padding: 20px;
}

#navOptions div:hover {
    cursor: pointer;
    background-color: #fed250;
}

#navLoginSignup {
    display: flex;
    /* border: 1px solid red; */
    width: 40%;
    justify-content: space-between;
    padding: 13px;
    align-items: center;
}

#navRight {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 25%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#navLoginSignup #signup {
    background-color: #fed250;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#navLoginSignup #login {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#navLoginSignup #login:hover {
    background-color: #9999;
}

#navLocation {
    width: auto;
    /* border: 1px solid red; */
    text-align: center;
    border: 1px solid #fed250;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 40px;
    padding-right: 15px;
}

#navLocation:hover {
    background-color: #fed250;
}

#navLocation button {
    background-color: transparent;
    border: none;
    font-size: 15px;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(70, 70, 70, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: rgb(241, 241, 241);
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    height: 500px;
    overflow-y: scroll;
    /* overflow-y: hidden; */

}

::-webkit-scrollbar {
    width: 0px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modelTop {
    display: flex;
    align-items: center;
    width: 30%;
    margin: auto;
    justify-content: space-between;
}

#modelTop img {
    width: 90px;
}

#modelSearch {
    display: flex;
    border-radius: 8px;
    width: 100%;
    background-color: white;
    padding: 6px;
    align-items: center;
    padding-left: 10px;
}

#modelSearch img {
    width: 24px;
    margin-left: 20px;
}

#modelSearch input {
    border: none;
    font-size: 17px;
    padding: 10px;
    border: 1px solid white;
}

#modelSearch input:focus {
    outline: none !important;
}

#modelCity {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 20px;
}

#modelCity img {
    width: 100%;
    border-radius: 15px;
}

#cityDiv img:hover{
    transform: scale(1.09);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}