body{
    position: relative;
}

#navbar-container{
    display: flex;
    width: 100%;
    /* padding: 10px; */
    justify-content: space-between;
    /* border: 1px solid red; */
    color: #333;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0rem 0rem 0.2667rem 0rem rgb(190, 190, 187);
    z-index: 100;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: black;
}

#navLogoDiv{
    cursor: pointer;
}

#navOptions{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
#navOptions div{
    padding: 20px;
}
#navOptions div:hover{
    cursor: pointer;
    background-color: #fed250;
}
#navLoginSignup{
    display: flex;
    /* border: 1px solid red; */
    width: 40%;
    justify-content: space-between;
    padding: 13px;
    align-items: center;
}
#navRight{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 30%;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#navLoginSignup #signup{
    background-color: #fed250;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#navLoginSignup #login{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#navLoginSignup #login:hover{
    background-color: #9999;
}
