<<<<<<< HEAD
/* Navbar */
body {
    font-family: "Muli", sans-serif;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

#navbarContainer {
    display: flex;
    width: 100%;
    /* padding: 10px; */
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: auto;
    color: #333;
    margin-top: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    background-color: white;
    margin-bottom: 200px;
}

#navLogoDiv {
    cursor: pointer;
    margin-left: 20px;
}

#navOptions {
    display: flex;
    width: 49%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

#navOptions a{
    text-decoration: none;
    color: black;
} 

#navOptions div {
    padding: 20px;
}

#navOptions div:hover {
    cursor: pointer;
    background-color: #fed250;
}

#navLoginSignup {
    display: flex;
    /* border: 1px solid red; */
    width: 40%;
    justify-content: space-between;
    padding: 13px;
    align-items: center;
}

#navRight {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 25%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#navLoginSignup #signup {
    background-color: #fed250;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#navLoginSignup #login {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#navLoginSignup #login:hover {
    background-color: #9999;
}

#navLocation {
    width: auto;
    /* border: 1px solid red; */
    text-align: center;
    border: 1px solid #fed250;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 40px;
    padding-right: 15px;
}

#navLocation:hover {
    background-color: #fed250;
}

#navLocation button {
    background-color: transparent;
    border: none;
    font-size: 15px;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(70, 70, 70, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: rgb(241, 241, 241);
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    height: 500px;
    overflow-y: scroll;
    /* overflow-y: hidden; */

}

::-webkit-scrollbar {
    width: 0px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modelTop {
    display: flex;
    align-items: center;
    width: 30%;
    margin: auto;
    justify-content: space-between;
}

#modelTop img {
    width: 90px;
}

#modelSearch {
    display: flex;
    border-radius: 8px;
    width: 100%;
    background-color: white;
    padding: 6px;
    align-items: center;
    padding-left: 10px;
}

#modelSearch img {
    width: 24px;
    margin-left: 20px;
}

#modelSearch input {
    border: none;
    font-size: 17px;
    padding: 10px;
    border: 1px solid white;
}

#modelSearch input:focus {
    outline: none !important;
}

#modelCity {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 20px;
}

#modelCity img {
    width: 100%;
    border-radius: 15px;
}

#cityDiv img:hover{
    transform: scale(1.09);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}






=======
>>>>>>> 13f108598376aae58b4c86173dd5b84c35d69ef2
body{
    font-family: "Muli", sans-serif;
}

#subscription-container {
    margin-top: 3px;
    width: 90%;
    background-image: url("https://d36g7qg6pk2cm7.cloudfront.net/assets/long_term/RBX_landing_web-8b84ff099c1cd0851362d28adccdcc8ca829a0fc36a2e3c5c01e1ce4764f0a7a.jpg");
    background-size: 100%;
    height: 500px;
    padding-top: 14%;
    padding-left: 10%;
}

#subscription-container #inside-container{
    background: white;
    width: 23%;
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
}

#subscription-container #inside-container input{
    margin-bottom: 20px;
    margin-top: 5px;
    width: 40%;
    padding: 10px;
    cursor: pointer;
    border: none;
    border: 1px solid #9999;
    border-radius: 5px;
}

#subscription-container #inside-container label{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

#subscription-container #inside-container #button{
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #fed250;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#howit-works{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}
#howit-works>h2{
    text-align: center;
}
#howit-works>hr{
background-color: #fed250;
height: 2px;
width: 100px;
margin-top: -15px;
}
#howit-works-inside img{
    width: 90px;
    height: 50px;
}

#howit-works-inside{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    margin-top: 100px;
    grid-gap: 80px;
    
}
#whyrent{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}
#whyrent>div>img{
    width: 100%;
}
#whyrent>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



#footer{
    background-color: rgb(49, 48, 48);
    font-family: "Muli", sans-serif;
}

#footerfirst-part{
    width: 70%;
    margin: auto;
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(3,1fr);
    padding-left: 60px;
    padding-right: 80px;
    justify-content: space-between;
    padding-right: -80px;
    column-gap: 230px;
}

#footerfirst-part>div>p{
    color: aliceblue;
}
#footerfirst-part>div>hr{
    width: 60px;
    height: 2px;
    background-color: #fed250;
    margin-top: -20px;
    margin-left: -2px;
    margin-bottom: 40px;
}
#footerfirst-part>div>h3{
    color: rgb(205, 211, 216);
}

#footer-logo{
display: flex;
}
#footer-logo>img{
    width: 30px;
    height: 30px;
    margin: 0px 14px;
}
.footer-bold{
    font-weight: bold;
    font-size : 22px;
    color: aliceblue;
    cursor: pointer;;
}
#footersecond-part{
  
    background-color: rgb(69, 68, 67);
}

#secondpart-one{
    width: 85%;
    margin: auto;
    
}
#secondpart-one>h1{
    
    color: rgb(249, 240, 240);
    padding-top: 50px;

}
#secondpart-one>p{
    color:rgb(223, 217, 217);
    font-size: 20px;
}
#secondpart-second{
    width: 85%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: justify;
}
#secondpart-second>div>h1{
    text-align: center;
    color: rgb(249, 240, 240);
}
#secondpart-second>div>hr{
    color: white;
    height: 2px;
    width: 90px;
    margin-top: -18px;
    background-color: #fed250
    
}
#secondpart-second>div>p{
    color:rgb(223, 217, 217);
    font-size: 20px;
    padding-bottom: 25px;
}

#secondpart-h3{
    color: aliceblue;
    text-align: center;
    margin-top: -25px;
    padding-bottom: 20px;
}

#footersecond-part #secondpart-second p{
    font-size: 15px;
}

#footersecond-part #secondpart-second .footer-bold{
    font-size: 15px;
}

#footersecond-part #secondpart-one p{
    font-size: 15px;
    text-align: justify;
}

#footersecond-part #secondpart-one h1{
    font-size: 20px;
}

#secondpart-second #ourPresence{
    font-size: 22px;
}