body{
    font-family: "Muli", sans-serif;
}
#navbarContainer{
    display: flex;
    width: 98%;
    /* padding: 10px; */
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: auto;
    color: #333;
}

#navLogoDiv{
    cursor: pointer;
}

#navOptions{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
#navOptions div{
    padding: 20px;
}
#navOptions div:hover{
    cursor: pointer;
    background-color: #fed250;
}
#navLoginSignup{
    display: flex;
    /* border: 1px solid red; */
    width: 40%;
    justify-content: space-between;
    padding: 13px;
    align-items: center;
}
#navRight{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 30%;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#navLoginSignup #signup{
    background-color: #fed250;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#navLoginSignup #login{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#navLoginSignup #login:hover{
    background-color: #9999;
}

#navLocation{
    width: auto;
    /* border: 1px solid red; */
    text-align: center;
    border: 1px solid #fed250;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 40px;
    padding-right: 15px;
}

#navLocation:hover{
    background-color: #fed250;
}

#navLocation button{
    background-color: transparent;
    border: none;
    font-size: 15px;
}